*.out
*.exe
*.cc
LatticeImages/
TempImages/
CleanUP/
*.gif
Data/
.Rproj.user
AutoCorr/
AutoCorrData/
*.Rhistory
.RData
*.csv
ColdStorage/OldData
ScalingImages_old
ScalingImages2
ScalingImages1
ScalingImages_Nu
ScalingImages_BNu
ScalingImages
Demonstrations